body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.add-form, .list {
  margin-left: 200px;
  /* margin:0 auto; */
}
.add-form input[tyep=text]{
  width: 400px;
}

a {
  color: #00B7FF;
}
