<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>ToDoList</title>
</head>
<body>
  <h1><a href="/tasks">To Do List Sample</a></h1>
  <div class="description">
    <p>結構引っかかるとおもうけど頑張っていきましょう！</p>
    <p>どしどし質問待ってます!</p>
  </div>
</body>
</html>